<h1>Todos os produtos</h1>
<div class="products">
    {{#each products}}
        <div class="product">
        <a href="products/{{this._id}}">
            <img src="{{this.image}}" alt="{{this.name}}">
            <h3>{{this.name}}</h3>
            <p>R${{this.price}}</p>
            <div class="actions">
        </a>
        </div>
        </div>
    {{/each}}
</div>